body {
    margin: 0px;
}
ul {
    margin: 0px;
    padding: 0px;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}
.all-wrapper {
    background-color: #000;
    font-family: Georgia;
}
.content-width {
    width: 925px;
    margin: 0 auto;
}
.header {
    background-image: url(images/bg-pattern.jpg);
}
.header-navigation {
    display: flex;
    justify-content: space-between;
    padding-top: 60px;
    padding-bottom: 60px;
}
.main-title {
    margin: 0px;
    color: #534a2d;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
}
.nav-list {
    display: flex;
}
.nav-link {
    color: #736e5f;
    font-size: 16px;
    font-weight: 400;
    line-height: 33px;
}
.nav-item {
    position: relative;
}
.nav-item:last-child {
    padding-left: 22px;
}
.nav-item:not(:last-child) {
    padding: 0px 22px;
}
.nav-item:not(:last-child)::after {
    position: absolute;
    top: 0px;
    right: 0px;
    display: block;
    content: '';
    width: 1px;
    height: 50px;
    background-color:#282725;;
}
.nav-link:active {
    color: #c9bb90;
    text-decoration: underline;
}


.header-section {
    border-top: 10px solid #332d25;
    background: url(images/bg-rock.jpg);
}
.h-box-inline-block {
    display: inline-block;
    vertical-align: top;
}
.inline-block-left {
    width: 70%;
}
.inline-block-right {
    width: 30%;
}
.box-text-shop {
    float: left;
    width: 250px;
    margin-right: 20px;
    text-align: center;
}
.img-product {
    margin-right: 10px;
    margin-left: 20px;
}
.text-title {
    color: #8e7835;
    font-size: 34px;
    font-weight: 400;
    line-height: 48px;
}
.text-desc {
    color: #736e5f;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}
.text-btn {
    margin-top: 20px;
    padding: 0px 17px;
    color: #ffffff;
    background-color: #736e5f;
    font-family: Georgia;
    font-size: 14px;
    font-weight: 400;
    line-height: 40px;
    border: 0px;
    border-radius: 7px;
}
.product-material-title {
    margin-top: 5px;
    color: #736e5f;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
}
.prod-desc {
    color: #736e5f;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

/* HEADER END */

/* MAIN START */

.main {
    background-image: url(images/bg-pattern.jpg);
}
.section-float-about {
    float: left;
    width: 70%;
}
.section-float-blog {
    float: right;
    width: 30%;
}
.main::after {
    content: '';
    display: block;
    clear: both;
}
.main-section-title {
    margin-top: 0px;
    color: #c9bb90;
    font-size: 18px;
    font-weight: 400;
    line-height: 48px;
}
.about-desc {
    color: #8e7835;
    font-size: 36px;
    font-weight: 400;
    line-height: 48px;
}
.about-box {
    float: left;
    width: 170px;
    padding: 0px 20px;
}
.about-box:not(:last-child) {
    border-right: 1px solid #282725;
}
.about-box-title {
    color: #736e5f;
    font-family: "Arial MT";
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}
.about-box-desc {
    color: #736e5f;
    font-size: 14px;
}
.sect-blog-boxes {
    background-color: #1a1918;
    padding: 22px;
    margin-bottom: 22px;
}

.blog-data-name {
    margin: 0px;
    color: #3d3c3a;
    font-family: Arial;
    font-size: 12px;
    letter-spacing: 0.3px;
}
.blog-text {
    color: #736e5f;
    font-family: "Arial MT";
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;

}
.blog-btn {
    background-color: transparent;
    border: 0px;
    color: #3e3a3a;
    font-style: italic;
    letter-spacing: 0.35px;
}
/* MAIN END */